<%- include page_head %>

<%- include menu_apps %>

<h4>Apps</h4>

<div style="text-align:left;">
<ul>
<% apps.forEach(function(app) { %>
<li><%= app %></li>
<% }); %>
</ul>
</div>

</div>
</div>

<%- include page_foot %>
