<%- include page_head %>

<html>
<title>CoinPi - Wallet Apps </title>
<style>
label.form_space {
  display: block;
  float:left;
  text-align:right;
  border:0px solid red;
  width: 120px;
  padding-right: 5px;
}
</style>
<body>

<div style="text-align:center; padding:5px; padding-top:1px;">
<div style="display:inline-block;border:1px solid grey; padding:5px; border-radius: 5px; ">

<h1>CoinPi Wallet</h2>
<%- include menu %>

<h4>Apps</h4>

</div>
</div>

<%- include page_foot %>
