<%- include page_head %>

<%- include menu_coms %>

<h4>Coms</h4>

<div style="text-align:left;">
<ul>
<% coms.forEach(function(com) { %>
<li><%= com %></li>
<% }); %>
</ul>
</div>

</div>
</div>

<%- include page_foot %>
