<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav" style='list-style-type: none; margin: 0; padding: 0;'>
  <li class="nav-item active" style='display: inline;'> <a class="nav-link" href='/wallet'>Home</a>  </li>
  <li class="nav-item" style='display: inline;'> <a class="nav-link" href='/wallet/apps'>Apps</a>  </li>
  </ul>
</nav>
