<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav" style='list-style-type: none; margin: 0; padding: 0;'>
  <li class="nav-item active" style='display: inline;'> <a class="nav-link" href='/wallet'>Home</a>  </li>
  <li class="nav-item" style='display: inline;'> <a class="nav-link" href='/wallet/apps'>Apps</a>  </li>
  <li class="nav-item" style='display: inline;'> <a class="nav-link" href="/wallet?add=true">Add Address</a>  </li>
  <li class="nav-item" style='display: inline;'> <a class="nav-link" href="/wallet?del=true">Remove Address</a> </li>
  </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search"  autocomplete="off">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
