<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
      label.form_space {
        display: block;
        float:left;
        text-align:right;
        border:0px solid red;
        width: 120px;
        padding-right: 5px;
      }
      body{overflow: scroll;}
    </style>

    <title><%= page_title %></title>
  </head>
<body>
<style>
  .small { font: bold 24px monospace; fill: none; stroke: #000000; kerning:2; stroke-width: 1;}
</style>

<div style="text-align:center; padding:5px; padding-top:1px; margin:10px;">
<div style="display:inline-block;border:1px solid grey; padding:5px; border-radius: 5px; text-align:left;">

<svg width="292" height="44"  style="border: 0px solid red;">
    <text x="0" y="38"
          style="fill: none; stroke: #000000;  font-size: 48px;">CoinPi Wallet</text>
</svg>


